- hosts: edge
  vars:
    training_dir: /training
    training_data_dir: /training/data
    training_data_lyrics_dir: /training/data/lyrics
    training_jar_dir: /training/jar
    users:
      - bison
      - buffalo
      - camel
      - cheetah
      - cobra
      - crocodile
      - deer
      - dolphin
      - duck
      - eagle
      - elephant
      - gazelle
      - giraffe
      - hippo
      - lemur
      - leopard
      - lizard
      - lion
      - puma
      - rhino
      - shark
      - snail
      - snake
      - tiger
      - wolf
      - zebra
  gather_facts: false
  roles:
#     - role: ntpd
#     - role: mysql
#     - role: training-libs
#     - role: training-data
     - role: training-accounts
#     - role: hue
#     - role: hue-users
