---

- name: Copy scriptd to test Spark
  copy: src="{{item}}" dest=/tmp mode=755
  with_items:
    - 3_spark.sh
    - common.sh
    - spark-cmd-1.py
    - spark-cmd-2.py
    - spark-cmd-3.py


- name: Test Spark operations
#  become: yes
#  become_user: hdfs
  register: out
  command: sudo -u hdfs /tmp/3_spark.sh

- debug: var=out.stdout_lines
